.content-list {
  padding-block: var(--spacing-xxx-large);
  border-block-end: var(--border);
}

.content-list > * + * {
  margin-block-start: var(--spacing-xxx-large);
}

.content-list .viewsreference--view-title {
  display: none;
}

.content-list__title,
.content-list__content {
  text-align: center;
}

.content-list__title {
  font-size: var(--font-size-responsive-larger);
}
