.footer {
  padding-block: var(--spacing-large);
  background-color: var(--color-accent);
  color: var(--color-white);
}

.region-footer {
  display: grid;
  gap: var(--spacing-gap);
  grid-template-columns: 1fr;;
}

.footer a,
.footer .menu a.is-active {
  color: var(--color-white);
  &:focus-visible {
    outline-color: var(--color-white);
  }
}

.footer ul,
.footer ul.menu {
  list-style: disc;
  margin-inline-start: var(--spacing);
  padding-inline-start: var(--spacing);
}

.footer h2 {
  border-block-end: var(--border-white);
}

@media screen and (min-width: 37.5rem) {
  .region-footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.logos-wall {
  padding-block: var(--spacing-gap);
  background-color: var(--color-grey-lightest);
}

.logos-wall ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-gap);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logos-wall img {
  height: 50px;
}