.full-page__content {
  margin-block-start: var(--spacing-xxx-large);
  padding-block-end: var(--spacing-xxx-large);
}

.full-page__content .field--name-field-content-blocks > * + * {
  margin-block-start: var(--spacing-xxx-large);
  padding-block-start: var(--spacing-xxx-large);
  border-block-start: var(--border);
}

.full-page:not(.full-page--listing-page) .full-page__content {
  max-width: 80ch;
}

.full-page .field--name-field-published-date,
.full-page .field--name-field-event-date-readable {
  padding: var(--spacing);
  background-color: var(--color-grey-lightest);
  border: var(--border-small);
  font-weight: bold;
}

.full-page__media img {
  box-shadow: var(--drop-shadow);
}

.full-page__intro {
  font-size: var(--font-size-large);
}

.full-page__social-media-list {
  display: flex;
  gap: var(--spacing-large);
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-inline-start: 0;
}

.full-page__social-media-list li a {
  display: flex;
  align-items: center;
}

.full-page__social-media-list-icon {
  line-height: 1;
}

.full-page__social-media-list svg {
  width: var(--spacing-x-large);
}
