.off-canvas,
.off-canvas[open].off-canvas--closing {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 80vw;
  max-width: 300px;
  padding: var(--spacing);
  transform: translateX(-100%);
  transition: var(--transition-time);
  z-index: 1000;
  margin: 0;
  background-color: var(--color-accent-2);
}

.off-canvas[open] {
  transform: translateX(0);
}

.off-canvas__off-canvas-toggle {
  display: flex;
  justify-content: end;
  margin-block-end: var(--spacing-gap);
}

button.off-canvas__off-canvas-button {
  border: 0;
  font-weight: 600;
  &:focus-visible {
    outline-color: var(--color-white);
  }
}

.off-canvas a,
.off-canvas ul.menu a.is-active {
  display: block;
  text-decoration: none;
  color: var(--color-white);
  padding-block: var(--spacing);
  &:focus-visible,
  &:hover {
    outline: none;
    margin-inline-start: var(--spacing);
  }
}


.off-canvas ul.menu a.is-active {
  font-weight: 600;
}

.off-canvas .menu li + li {
  border-top: var(--border-small-white);
}
