/**
 * @file
 * Styles for shared components.
 * e.g. CTA buttons used in multiple components.
*/

.image-with-text__content a,
.content-list__call-to-action a {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: var(--spacing-small) var(--spacing-large);
  text-decoration: none;
  font-weight: bold;
  &:focus-visible,
  &:hover {
    background-color: var(--color-accent-2);
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}