*,
*::before,
*::after {
  box-sizing: border-box;
  transition: var(--transition-time);
}

*:not(dialog) {
  margin-block-start: 0;
}

html {
  scroll-behavior: smooth;
  /* Prevent font size inflation */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: var(--line-height);
  font-size: var(--font-size-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-wrap: balance;
  line-height: var(--line-height-small);
}

h1 {
  font-size: var(--font-size-responsive-largest);
}

h2 {
  font-size: var(--font-size-responsive-larger);
}

h3 {
  font-size: var(--font-size-responsive-large);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border-radius: 0;
  background-color: var(--color-white);
  padding: var(--spacing-small) var(--spacing);
  border: var(--border);
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-weight: bold;
  border: var(--border-accent);
  &:focus-visible,
  &:hover {
    background-color: var(--color-accent-2);
  }
}

a {
  color: var(--color-accent-2);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: var(--transition-time);
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
}

button:focus-visible,
[type="button"]:focus-visible,
[type="reset"]:focus-visible,
[type="submit"]:focus-visible,
a:focus-visible,
textarea:focus-visible,
input:focus-visible,
select:focus-visible {
  transition: none;
  text-decoration: none;
  outline: 2px solid var(--color-accent-2);
  outline-offset: 2px;
}

.padding-x {
  padding-inline: var(--spacing);
}

.padding-y {
  padding-block: var(--spacing);
}

.field--name-field-photo-credits {
  margin-block-start: var(--spacing-xxx-large);
  padding: var(--spacing);
  font-size: var(--font-size-smaller);
  background-color: var(--color-grey-lighter);
}