:root {
  --color-accent: #00652e;
  --color-accent-2: #2756a6;
  --color-accent-3: #ffc439;

  --color-black: #222222;
  --color-white: #ffffff;
  --color-grey-lightest: #fafafa;
  --color-grey-lighter: #eaeaea;
  --color-grey-light: #cdcfd0;
  --color-grey-medium: #b1b4b6;
  --color-grey-dark: #505a5f;
  --color-grey-darker: #444444;
  --color-grey-darkest: #333333;

  --drop-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  --drop-shadow-large: 0 24px 48px -16px rgba(0, 0, 0, 0.25);

  --font-size-base: 1rem;
  --font-size-small: 0.875rem;
  --font-size-smaller: 0.75rem;
  --font-size-smallest: 0.5rem;

  --font-size-large: 1.5rem;
  --font-size-larger: 2rem;
  --font-size-largest: 3rem;

  --font-size-responsive-large: clamp(var(--font-size-base), 0.700rem + 1.333vw, var(--font-size-large));
  --font-size-responsive-larger: clamp(var(--font-size-large), 1.200rem + 1.333vw, var(--font-size-larger));
  --font-size-responsive-largest: clamp(var(--font-size-larger), 1.400rem + 2.667vw, var(--font-size-largest));

  --line-height: 1.75;
  --line-height-small: 1.2;

  --spacing: var(--font-size-base);
  --spacing-small: calc(var(--font-size-base) * 0.5);
  --spacing-large: calc(var(--font-size-base) * 1.5);
  --spacing-x-large: calc(var(--font-size-base) * 2);
  --spacing-xx-large: calc(var(--font-size-base) * 2.5);
  --spacing-xxx-large: calc(var(--font-size-base) * 3);
  --spacing-gap: var(--spacing-xxx-large);

  --width-container: 1200px;
  --width-small: 500px;
  --width-medium: 768px;
  --width-large: 960px;

  --border-radius: var(--font-size-large);
  --border-color: var(--color-accent);
  --border-width: 3px;
  --border-style: solid;
  --border: var(--border-width) var(--border-style) var(--border-color);
  --border-accent-2: var(--border-width) var(--border-style) var(--color-accent-2);
  --border-small: 1px var(--border-style) var(--border-color);
  --border-small-white: 2px var(--border-style) var(--color-white);
  --border-white: var(--border-width) var(--border-style) var(--color-white);

  --transition-time: 0.3s;
}
